<html>
	<head>
		<meta charset="utf-8">
		<title>Привет</title>
	</head>

	<body>
		<form action="?" method="POST">
			<p><b>Какой чай вы предпочитаете?</b></p>
			<p><input name="tea" type="radio" value="earl_grey"> Эрл Грей</p>
			<p><input name="tea" type="radio" value="english_breakfest"> Англиский завтрак</p>
			<p><input name="tea" type="radio" value="oolong"> Улун</p>
			<br><b>Вы носите очки?</b>
			<p><input name="glass" type="radio" value="yes"> Да</p>
			<p><input name="glass" type="radio" value="no"> Нет</p>
			<p><input type="submit" value="Отправить"></p>
		</form>
	</body>
</html>