<html>
	<head>
		<meta charset="utf-8">
		<title>Опрос</title>
	</head>

	<body>
		<form action="?" method="POST">
			<p><h3>А. СОТРУДНИЧЕСТВО И ЭФФЕКТИВНОСТЬ ПОДКРЕПЛЯЮЩИХ СТИМУЛОВ</h3></p>
			<br><p><b>1. Берет предложенный приятный стимул (например, конфету)</b></p>
			<p><input required name="answer" type="radio" value="0">  0 - не сотрудничает</p>
			<p><input required name="answer" type="radio" value="1"> 1 - берет предмет не каждый раз или берет позже, чем в пределах 3 секунд</p>
			<p><input required name="answer" type="radio" value="2"> 2 - ребёнок каждый раз берет приятный предмет  в течение 3 секунд</p>

			<br><b>2. Выбирает приятный стимул из двух (например, конфету или ботинок)</b>
			<p><input required name="answer0" type="radio" value="0"> 0 - не сотрудничает</p>
			<p><input required name="answer0" type="radio" value="1"> 1 - берет предмет не каждый раз или берет позже, чем в пределах 3 секунд</p>
			<p><input required name="answer0" type="radio" value="2"> 2 -ребёнок каждый раз берет приятный предмет  в течение 3 секунд</p>

			<p><b>3. Смотрит на нейтральный стимул (например, на ботинок)</b></p>
			<p><input required name="answer1" type="radio" value="0"> 0 - Не сотрудничает</p>
			<p><input required name="answer1" type="radio" value="1"> 1 - находит предмет, но нужны дополнительные подсказки, или ребёнок ищет предмет взглядом более 3 секунд</p>
			<p><input required name="answer1" type="radio" value="2"> 2 - находит предмет взглядом в любой позиции (сверху, снизу, справа, слева) в течение 3 секунд</p>
			<p><input required name="answer1" type="radio" value="3"> 3 - отслеживает перемещение предмета для 4 различных позиций в течение 10 секунд</p>
			<p><input required name="answer1" type="radio" value="4"> 4 - ребёнок отслеживает перемещение  предмета для 6 различных позиций в течение 10 секунд</p>

			<p><b>4. Берет нейтральный стимул (например, ботинок)</b></p>
			<p><input required name="answer2" type="radio" value="0"> не сотрудничает</p>
			<p><input required name="answer2" type="radio" value="1"> берет предмет не каждый раз или берет медленнее, чем в пределах 3 секунд </p>
			<p><input required name="answer2" type="radio" value="2"> ребёнок каждый раз берет предмет в течение 3 секунд</p>

			<p><b>5. Подходит ко взрослому, у которого есть приятный стимул, при этом для получения стимула надо выполнить простое задание</b></p>
			<p><input required name="answer3" type="radio" value="0"> 0 - не сотрудничает</p>
			<p><input required name="answer3" type="radio" value="1"> 1 - иногда подходит и выполняет как минимум 1 знакомое действие для получения приятного стимула</p>
			<p><input required name="answer3" type="radio" value="2"> 2 - с готовностью быстро выполняет разные знакомые действия для получения приза</p>
			<p><input required name="answer3" type="radio" value="3"> 3 - подходит и выполняет несколько действий (каждое действие подкрепляется)</p>
			<p><input required name="answer3" type="radio" value="4"> 4 - ребёнок подходит и садится за стол, выполняет несколько действий для получения приятного стимула  (каждое действие подкрепляется)  </p>
			<p><input type="submit" value="Отправить"></p>
		</form>
	</body>
</html>